.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
}

.post-info {
    display: flex;
    align-items: center;
}

.post-info >h5 {
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}

.post-info >h5:hover {
    text-decoration: underline;
}

.post-info > small {
    margin-left: 10px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.post-body >.post-question {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
}

.post-body >.post-question > p:hover {
    text-decoration: underline;
}

.post-body >.post-question > .post-btnAnswer {
    margin-left: auto;
    outline: none;
    border: none;
    background-color: #f52847;
    color: white;
    border-radius: 30px;
    padding:10px ;
    cursor: pointer;
}

.post-body > img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.post-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-footer > .MuiSvgIcon-root {
    color:gray;
    margin-right: 40px;
    cursor: pointer;
}

.post-footerAction {
    display: flex;
    justify-content: space-around;
    border-radius: 33px;
    align-items: center;
    padding: 5px;
    background-color: lightgray;
}

.post-footerAction >.MuiSvgIcon-root {
    color:gray;
    margin-right: 40px;
    cursor: pointer;
}

.post-footerAction >.MuiSvgIcon-root :hover {
    color: #8f1f19;
}

.post-footerLeft {
    margin-left: auto;
}

.post-footerLeft >.MuiSvgIcon-root{
    color: gray;
    cursor: pointer;
    margin-left: 30px;
}

/* MOdal Answer Style */

.modal-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .modal-title > h1 {
    color: #8f1f1b;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .modal-title p {
    color: gray;
    font-size: small;
  }
  
  .modal-title p .name {
    color: black;
    font-weight: bold;
  }
  
  .modal-answer {
    display: flex;
    padding-top: 20px;
    flex: 1;
  }
  
  .modal-answer > textarea {
    width: 100%;
    height: 200px;
    padding: 5px;
    font-size: 15px;
    color: rgb(11, 21, 26);
  }
  
  .modal-button {
    display: flex;
    align-items: center;
    margin-right: -20px;
    border-top: 1px solid lightgray;
  }
  
  .modal-button >.cancel {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  .modal-button .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: #bd263d;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
  }

